apiVersion: v1
kind: Service
metadata:
  name: {{ include "seamless-world.fullname" . }}-redis-commander
  labels:
    {{- include "seamless-world.labels" . | nindent 4 }}
spec:
  type: LoadBalancer
  ports:
    - port: 8081
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: redis-commander
    app.kubernetes.io/instance: {{ .Release.Name }}
