apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "seamless-world.fullname" . }}-redis-commander
  labels:
    {{- include "seamless-world.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: redis-commander
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: redis-commander
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
        - name: redis-commander
          image: "rediscommander/redis-commander:latest"
          imagePullPolicy: IfNotPresent
          env:
            - name: REDIS_HOSTS
              value: "default:{{ include "seamless-world.fullname" . }}-redis:6379"
          ports:
            - name: http
              containerPort: 8081
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: 8081
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 5
